**Q.1 Write a function to print first name and last name by taking first and last name as arguments**

In [ ]:
# Write a function to print first name and last name by taking first and last name as arguments

My name is : Arnav Sharma

**Q.2 Print if number is odd or even for all the numbers in the given list**

```
Input:
num_list = [10,23,24,90,43, 83, 89]

Output:
['even', 'odd', 'even', 'even', 'odd', 'odd', 'odd']
```

In [ ]:
#Use list comprehension

['even', 'odd', 'even', 'even', 'odd', 'odd', 'odd']

**Q.3 Sort the name of states according to given codes in ascending order using lamda**

```State_and_codes= [('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]```

In [ ]:
# Hint : use lambda inside sort function

Original list of tuples:
[('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]

Sorting the List of Tuples:
[('West Bengal', 78), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('Maharashtra', 102)]

**Q.4 Write a function that takes in a list and returns a new list with all the unique elements (without using Python inbuilt functions) from the given list**

[10, 3, 78, 90, 55, 34, 98]

**Q.5 Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g. step on no pets.

False

**Q.6 Define a function that returns Factorial of a number.**

```6! = 6 * 5 * 4 * 3 * 2 * 1 = 720```

In [ ]:

    # check if the number is negative, positive or zero

('The factorial of', 6, 'is', 720)

**Q.7 Write a function prodDigits() that inputs a number and returns the product of digits of that number.**

Input: 54 <br>
Output: 20  <br>

Input: 34 <br>
Output: 12  <br>

In [ ]:
# num = int(input("Enter a number: "))

Product of all digits of 34 is: 12

**Q.8 What is the output of following function?**

```
def func(x, y) :
  for i in range(1, x) : 
    x = x + y
    y += 1
  return x, y

func(3, 2)
```

A. 3, 2  <br>
B. 8, 4  <br>
C. 3, 1  <br>
D. 8, 2  <br>

**Q.9 Write an Lambda function to convert below list of mixed values into int datatype.**

```l = [1, 2, "3", 4, 5.0]```

Note: Use `isinstance` function to validate datatype.

[1, 2, 3, 4, 5]

**Q.10 What is the output of following code?**
```
func = lambda x: return x
print(func(2))
```

A. ```SyntaxError``` <br>
B. 2  <br>
C. 3  <br>
D. 1  <br>

**Q 11: What would be the output of the following code snippet?**

```(lambda x: (x + 3) * 5 / 2)(3)```

A. 15.0 <br>
B. 0 <br>
C. ```SyntaxError``` <br>
D. 30.0 <br>

15.0

**Q.12 Write a map function that multiplies 3 to each item in the list.**

```num_list=[10, 20, 30, 40, 50, 60]```

In [ ]:
#Write your solution here
#num_list_mapped =

[30, 60, 90, 120, 150, 180]

**Q.13 Filter and print all the vowels using filter function from the word "relevel"**

In [ ]:
# function that filters vowels
  
# using filter function

The filtered letters are:
e
e
e

**Q.14 Find the factorial of 6 using reduce function**

```6! = 6 * 5 * 4 * 3 * 2 * 1 = 720```

In [ ]:
# Define a factorial function that uses the reduce() function

720

**Q.15 Convert list of strings into integer**

```str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]```

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

**Q 16: Converting Temperatures (From Fahrenheit to Celsius and vice versa) using a map function**

Fahrenheit to Celsius formula conversion: <br>
Fahrenheit (F) = 9 / 5 * celsius + 32 <br>

Celsius (C) = (fahrenheit - 32) * 5 / 9

Convert following celsius temperature to fahrenheit. <br>
celsius_temps = [100, 40, 80]

Convert following fahrenheit temperature to celsius. <br>
fahr_temps = [212, 104, 176]

[212.0, 104.0, 176.0]

[100.0, 40.0, 80.0]

**Q 17: Write a function to check if following words are palindrome**

words = ("filter", "Ana", "hello", "world", "madam", "racecar")

['Ana', 'madam', 'racecar']