**Q.1 Write a function to print first name and last name by taking first and last name as arguments**

In [ ]:
# Write a function to print first name and last name by taking first and last name as arguments

def my_name(first, last):
  print("My name is : "+first+" "+last)

my_name("Arnav", "Sharma")

My name is : Arnav Sharma

**Q.2 Print if number is odd or even for all the numbers in the given list**

```
Input:
num_list = [10,23,24,90,43, 83, 89]

Output:
['even', 'odd', 'even', 'even', 'odd', 'odd', 'odd']
```

In [ ]:
#Use list comprehension
num_list = [10,23,24,90,43, 83, 89]
odd_even = ["even" if x%2==0 else "odd" for x in num_list]
print(odd_even)

['even', 'odd', 'even', 'even', 'odd', 'odd', 'odd']

**Q.3 Sort the name of states according to given codes in ascending order using lamda**

```State_and_codes= [('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]```

In [ ]:
# Hint : use lambda inside sort function
State_and_codes= [('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]
print("Original list of tuples:")
print(State_and_codes)
State_and_codes.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(State_and_codes)

Original list of tuples:
[('Maharashtra', 102), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('West Bengal', 78)]

Sorting the List of Tuples:
[('West Bengal', 78), ('Madhya Pradesh', 80), ('Tamil Nadu', 97), ('Maharashtra', 102)]

**Q.4 Write a function that takes in a list and returns a new list with all the unique elements (without using Python inbuilt functions) from the given list**

In [ ]:
def unique_list(default_list):
  temp_list = []
  for item in default_list:
    if item not in temp_list:
      temp_list.append(item)
  return temp_list

print(unique_list([10,10,3,3,3,78,90,55,34,78,98,90]))

[10, 3, 78, 90, 55, 34, 98]

**Q.5 Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g. step on no pets.

In [ ]:
def checkPalindrome(string_to_check):
	left_position = 0
	right_position = len(string_to_check) - 1
	
	while right_position >= left_position:
		if not string_to_check[left_position] == string_to_check[right_position]:
			return False
		left_position += 1
		right_position -= 1
	return True
print(checkPalindrome('potus'))

False

**Q.6 Define a function that returns Factorial of a number.**

```6! = 6 * 5 * 4 * 3 * 2 * 1 = 720```

In [ ]:
def factorial(num) :
    factorial = 1

    # check if the number is negative, positive or zero
    if num < 0:
      return "Sorry, factorial does not exist for negative numbers"
    elif num == 0:
      return "The factorial of 0 is 1"
    else:
      for i in range(1,num + 1):
          factorial = factorial*i
      return "The factorial of",num,"is",factorial

factorial(6)

('The factorial of', 6, 'is', 720)

**Q.7 Write a function prodDigits() that inputs a number and returns the product of digits of that number.**

Input: 54 <br>
Output: 20  <br>

Input: 34 <br>
Output: 12  <br>

In [ ]:
def prodDigit(num):
    """
    Returns the product of digits of given number
    """
    temp = num
    prod = 1
    while temp > 0:
        digit = temp % 10
        prod *= digit
        temp //= 10
    return prod


# num = int(input("Enter a number: "))
num = 34
print("Product of all digits of {0} is: {1}".format(num, prodDigit(num)))

Product of all digits of 34 is: 12

**Q.8 What is the output of following function?**

```
def func(x, y) :
  for i in range(1, x) : 
    x = x + y
    y += 1
  return x, y

func(3, 2)
```

A. 3, 2  <br>
B. 8, 4  <br>
C. 3, 1  <br>
D. 8, 2  <br>

In [ ]:
def func(x, y) :
  for i in range(1, x) : 
    x = x + y
    y += 1
  return x, y

func(3, 2)

(8, 4)

**Q.9 Write an Lambda function to convert below list of mixed values into int datatype.**

```l = [1, 2, "3", 4, 5.0]```

Note: Use `isinstance` function to validate datatype.

In [ ]:
l = [1, 2, "3", 4, 5.0]

fil = lambda x: x if isinstance(x, int) else int(x)

In [ ]:
[fil(i) for i in l]

[1, 2, 3, 4, 5]

**Q.10 What is the output of following code?**
```
func = lambda x: return x
print(func(2))
```

A. ```SyntaxError``` <br>
B. 2  <br>
C. 3  <br>
D. 1  <br>

In [ ]:
func = lambda x: return x
print(func(2))

SyntaxError: ignored

**Q 11: What would be the output of the following code snippet?**

```(lambda x: (x + 3) * 5 / 2)(3)```

A. 15.0 <br>
B. 0 <br>
C. ```SyntaxError``` <br>
D. 30.0 <br>

In [ ]:
(lambda x: (x + 3) * 5 / 2)(3)

15.0

**Q.12 Write a map function that multiplies 3 to each item in the list.**

```num_list=[10, 20, 30, 40, 50, 60]```

In [ ]:
num_list=[10, 20, 30, 40, 50, 60]
num_list_mapped = list(map(lambda x: x*3, num_list))
#Write your solution here
#num_list_mapped = 
print(num_list_mapped)

[30, 60, 90, 120, 150, 180]

**Q.13 Filter and print all the vowels using filter function from the word "relevel"**

In [ ]:
# function that filters vowels
def filter_vowels(var):
  vowels = ['a', 'e', 'i', 'o', 'u']
  if (var in vowels):
      return True
  else:
      return False

word = ['r','e','l','e','v','e','l']
  
# using filter function
filtered = filter(filter_vowels, word)
  
print('The filtered letters are:')
for letter in filtered:
    print(letter)

The filtered letters are:
e
e
e

**Q.14 Find the factorial of 6 using reduce function**

```6! = 6 * 5 * 4 * 3 * 2 * 1 = 720```

In [ ]:
from functools import reduce
# Define a factorial function that uses the reduce() function
def factorial(n):
  return 1 if n < 2 else reduce(lambda x, y: x*y, range(1, n+1))

factorial(6)

720

**Q.15 Convert list of strings into integer**

```str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]```

In [ ]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
int_nums = map(int, str_nums)

list(int_nums)

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

**Q 16: Converting Temperatures (From Fahrenheit to Celsius and vice versa) using a map function**

Fahrenheit to Celsius formula conversion: <br>
Fahrenheit (F) = 9 / 5 * celsius + 32 <br>

Celsius (C) = (fahrenheit - 32) * 5 / 9

Convert following celsius temperature to fahrenheit. <br>
celsius_temps = [100, 40, 80]

Convert following fahrenheit temperature to celsius. <br>
fahr_temps = [212, 104, 176]

In [ ]:
def to_fahrenheit(c):
    return 9 / 5 * c + 32

def to_celsius(f):
    return (f - 32) * 5 / 9

In [ ]:
celsius_temps = [100, 40, 80]
list(map(to_fahrenheit, celsius_temps))

[212.0, 104.0, 176.0]

In [ ]:
fahr_temps = [212, 104, 176]
list(map(to_celsius, fahr_temps))

[100.0, 40.0, 80.0]

**Q 17: Write a function to check if following words are palindrome**

words = ("filter", "Ana", "hello", "world", "madam", "racecar")

In [ ]:
def is_palindrome(word):
  reversed_word = "".join(reversed(word))
  return word.lower() == reversed_word.lower()

In [ ]:
words = ("filter", "Ana", "hello", "world", "madam", "racecar")
list(filter(is_palindrome, words))

['Ana', 'madam', 'racecar']