**Question-1**
Sometimes the data has few duplicate values which will affect the analysis done. In this problem, you will be given a list. You have to find and delete the duplicates and print the updated list with no duplicates.

----------------------------------------------------------------------
Input:
A list of integers.

Output:
A list of integers, with duplicates removed if any.

----------------------------------------------------------------------
Sample input:
[8, 9, 2, 2, 3, 4, 5, 2]

Sample output:
[8, 9, 2, 3, 4, 5]

----------------------------------------------------------------------
Sample input:
[4, 4, 4, 4]

Sample output:
[4]

----------------------------------------------------------------------
Note the order of the data did not change in input and output.

[8, 9, 2, 2, 3, 4, 5, 2]
[8, 9, 2, 3, 4, 5]

**Question-2**

You will be converting a dictionary, of string(keys) and list of string (values),  to a list of strings. Please check the sample input/output for clarification.


Input:
A dictionary with keys as strings and values as a list of strings.

Output:
A list of strings


Sample input:

{'Mobile': ['Redmi', 'Samsung', 'Realme'], 
'Laptop': ['Dell', 'HP'],
'TV': ['Videocon', 'Sony'] }

Sample output:

['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP', 'TV_Videocon', 'TV_Sony']


Sample input:

{ 'Pen': ['Gel', 'Ink', 'ball'],
'Mobile': ['Android', 'apple'] }

Sample output:

['Pen_Gel', 'Pen_Ink', 'Pen_ball', 'Mobile_Android', 'Mobile_apple']

{'Mobile': ['Redmi', 'Samsung', 'Realme'], 'Laptop': ['Dell', 'HP'], 'TV': ['Videocon', 'Sony'] }
['Mobile_Redmi', 'Mobile_Samsung', 'Mobile_Realme', 'Laptop_Dell', 'Laptop_HP', 'TV_Videocon', 'TV_Sony']

**Question-3**

For the purpose of this question, we will define something called an Relevel string. Note that this definition is not valid outside this question. A string Relevel string if the frequency of its characters is something like 1, 2, 3, 4, .... That is a character appears only once, another appears twice, another appears thrice and so on. For example string '$yrr$ssrsr' is a beautiful string since the frequency of y:1, $:2, s:3, r:4, however string '$yrr$ssrsr%' will not be beautiful since it has two characters (y and %) with frequency 1. The frequency of characters should be of form 1, 2, 3, 4, 5... only.
Given a string, can you determine if the string is Relevel string or no?


Input:

A string

Output:

Boolean depending whether the string is Relevel string or not


Sample input:

$yrr$ssrsr

Sample output:

True


Sample input:

$yrr$ssrsr%

Sample output:

False

Sample input:

ab#ab#aba

Sample output:

False

Sample input:

ab#ab#ab6a

Sample output:

True

ab#ab#aba
False

**Question-4**

You will be given a string with a lot of brackets. You have to print if the brackets are balanced or not. Remember, there are three types of brackets: ‘( )’,  ‘{ }’ and ‘[ ]’.

----------------------------------------------------------------------
Input:

A string

Output:

Yes, if the brackets are balanced.
No otherwise.

----------------------------------------------------------------------
Sample input:

){[[]]}())()

Sample output:

No

----------------------------------------------------------------------
Sample input 2:

[](){[]()(){}}

Sample output 2:

Yes

{(){}}
Yes

**Question-5**

You will be given a list of repeated elements. You have to find the maximum distance between two same elements. The answer will be zero if there are no repeated elements.

----------------------------------------------------------------------
Input:
A non-empty list of integers.

Output:
A single integer denoting the maximum distance between two same integers.

----------------------------------------------------------------------
Sample input:

[1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]

Sample output:

8

Explanation:

Max distance for 1: 5

Max distance for 2: 8

Max distance for 3: 0

Max distance for 4: 0

Max distance for 5: 0

Max distance for 6: 4

Max distance for 7: 0

Max distance for 8: 0

[1, 2, 3, 2, 5, 1, 2, 4, 6, 2, 7, 8, 6]
8

**Question-6:**

You have an array of integers of length n spanning 0 to n with one missing. Write a function missing_number that returns the missing number in the array.

Sample Input:

[0,1,2,4,5] 

Sample Output:

missing_number(nums) -> 3

[0,1,2,4,5]

3.0

**Question-7:**

Let’s say there are many vehicles on a long road. At each mile along the road, a checkpoint indicates the length traveled across the road.

You are given a list called vehicles which indicates the number of vehicles between each checkpoint. For example, the list [7,4,3] would mean that there are seven vehicles before the first checkpoint, four vehicles between the first and second checkpoints, and three vehicles between the second and third checkpoints.

Write a function range_vehicles that will give the number of vehicles between the start and end checkpoints.

Note: start may be 0

**Input:**

vehicles = [5,6,4,2,1]

start = 1

end = 3

**Output:**

10

[5,6,4,2,1]
1
3

10

**Question-8**

Given a dictionary with keys of letters and values of a list of letters, write a function closest_key to find the key with the input value closest to the beginning of the list.

**Input:**

dictionary = {
    'a' : ['b','c','e'],
    'm' : ['c','e'],
}

input = 'c'

**Ouput:**

m

**Question-9**

You are given a string that represents some floating-point number. Write a function, digit_accumulator, that returns the sum of every digit in the string.

**Input:**

s = "123.0045"

**Output:**

15

"123.0045"

15

**Question-10**

Using the Map function, create a list 'cube', which consists of the cube of numbers in input_list.

Input:

[5,6,4,8,9] 

Output:

[125, 216, 64, 512, 729].

[5,6,4,8,9]
[125, 216, 64, 512, 729]

**Question-11**

Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 


Input:

[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

Output:

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

**Question-12**

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969).

('Monty Python', 'British', 1969)
('Monty Python', 'British', 1969, 'Python')