## Text cells
This is a **text cell**. You can **double-click** to edit this cell. Text cells
use markdown syntax. To learn more, see our [markdown
guide](/notebooks/markdown_guide.ipynb).

You can also add math to text cells using [LaTeX](http://www.latex-project.org/)
to be rendered by [MathJax](https://www.mathjax.org). Just place the statement
within a pair of **\$** signs. For example `$\sqrt{3x-1}+(1+x)^2$` becomes
$\sqrt{3x-1}+(1+x)^2.$

# Comments

## Single Line Comments

In [ ]:
# Single line comment with #

## Multi-line string as comment

In [ ]:
# Multiline comment with #

In [ ]:
# Multiline comment with """

In [ ]:
# Multiline comment with '''

# Types of Errors

## Syntax Errors

In [ ]:
print("Hello, World)

There are two terms in this message that may be unfamiliar:
1. A string literal is text enclosed in quotation marks. "Hello,
World" is a string literal.
2. EOL stands for end of line.

## Runtime Errors

In [ ]:
print(Hello, World)

Lines of text called a traceback. <br>
<br>

Tracebacks are best read from the bottom up:
* The last line of the traceback tells you the name of the error and
the error message. In this case, a NameError occurred because the
name Hello is not defined anywhere.
* The second to last line shows you the code that produced the error. This information is more helpful for
larger files.
* The third to last line tells you the name of the file and the line number so you can go to the exact spot in your code where the error
occurred. <br>

In [ ]:
# Python code runs line by line so that if there's an error in line, the code before that will run as is
print(1)
print(2)
print(aa)

# Python keywords

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In [ ]:
help("keywords") ## Except True, False and None rest all are in lower case

## Variables and Identifier

A variable can have a short name (like a and b) or a more descriptive name (age, weight, gross_sales).

Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Legal variable names

In [ ]:
# Legal variable names with different casing

In [ ]:
#Illegal variable names:

In [ ]:
break = 5

In [ ]:
return = "value"

In [ ]:
# input the favourite alphabet from user using input

In [ ]:
# Let's add string to the input taken from user using input

# Statement

In [ ]:
# statement 1
                          ## Prints "Hello, Relevel students"

# statement 2
                          ## Assigns the number 30 to variable X

# statement 3
                          ## Prints the value of variable X

# DataTypes

In [ ]:
# print some of the variables of different datatypes



## With type function the type of the datatype can be found out

<h2 style="color:Blue"> Arithmetic Operations

In [ ]:
# Take two number and perform arithmetic operations on those number

## Mathematical  operators follow a precedence rule called PEMDAS -<BR>
P = parenthesis <br>
E = exponents <br>
M = multiplication <br>
D = division <br>
A = addition <br>
S = subtraction <br>

In [ ]:
print()

<h2 style="color:Blue"> String Operations

String is a collection of characters. The string data is an immutable type which means it cannot be modified.

In [ ]:
# String is initialised by single quotes '' or double quotes ""

In [ ]:
# When you write the string in single quotes and if you have a single quote in your string, it might give your error

In [ ]:
#Now to solve this we can use an escape character like

In [ ]:
# Or we can use double quotes

In [ ]:
#Now that '\' escape character which we saw earlier can also be used for other stuff like adding a new line

#### String Concatenation

Now apart adding new lines to a string we can also add another to a pre-existing string, let's see how -

In [ ]:
#Let's try building a system that could ask for your dinner order

Congrats on building a simple app using input and string functions. Let's take a step ahead and learn more about string manipulation

### String Manipulation

#### Indexing In Strings <br>
- Forward indexing starts with 0
- Reverse indexing starts with the last character as -1 in a python string
- Strings are immutable which, means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [ ]:
# Len() function

In [ ]:
#Accessing first character

In [ ]:
#Accessing first character

In [ ]:
#Accessing last character using negative indexing

In [ ]:
# Trying to change the character at index 2

#### Slicing In Strings
- string[start:end:step]
end step is not included in the output

In [ ]:
# slicing by specifying start and end index


# let's print "I love"

In [ ]:
string_var = "I love Python Programming"
sliced_var = string_var[-10:-2]
print(sliced_var)

# let's print "I love"

In [ ]:
# if you want to slice through the start to an index

In [ ]:
# check if a substring is present in a string using use of keyword in and not in

#### String methods
- upper() - to convert a string to upper cased
- lower() - to convert a string to lower cased
- strip() - to strip a perticular character in a string
- count(substring,begin,end)
- index and find
- replace
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [ ]:
# upper() method

In [ ]:
# lower() method

In [ ]:
# rstrip () function

In [ ]:
# removing the special character from the string

In [ ]:
# lstrip() function - remove space or character from the start

In [ ]:
# strip() function removes spaces from the start as well as end of the string

In [ ]:
# using rstrip and lstrip simultaneously

In [ ]:
# count() Method

In [ ]:
# Use index string function

In [ ]:
# Use index string function

In [ ]:
# Use find string function

In [ ]:
# Use index string function

In [ ]:
# Use replace string function

# Functions

#### help function
help() keyword can be used to invoke the documentation of modules, functions, classes, keywords, etc.

In [ ]:
# help function for string

## Streamline Your Print
#### using .format
.format can be used to aesthetically format multiple substrings in a string

In [ ]:
# It is used to specify the raw string.% It is used to perform string formatting.

A = "Data"
B = "Analysis"
C = "Python"
D = 5

In [ ]:
print("I am going to learn {0} {1} using {2} in {3} months".format(A,B,C,D))

# Type Casting
1. **Explicit Conversion**: Using respective function
2. **Implicit Conversion**: Using Arithmetic Operations: We can use operations like addition, subtraction to change the type of number implicitly(automatically), if one of the operands is float.

In [ ]:
### Implicit Conversion


  
# Addition
   # Any time a float is added to a number, the result is another float.

In [ ]:
### Explicit Conversion